<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>350511996053-lvum1hnqbqq78p102ucmd85qinipe97i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.350511996053-lvum1hnqbqq78p102ucmd85qinipe97i</string>
	<key>API_KEY</key>
	<string>AIzaSyDTgJfr60ABpvha_noqlVhT1rhbxUpKKII</string>
	<key>GCM_SENDER_ID</key>
	<string>350511996053</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.homeservices</string>
	<key>PROJECT_ID</key>
	<string>home-services-a8bc8</string>
	<key>STORAGE_BUCKET</key>
	<string>home-services-a8bc8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:350511996053:ios:ff20d1fe87e212f6310f9c</string>
</dict>
</plist>